.container
  .footer
    .footer-wrapper
      hr
      p 
        | &copy; · 2011-2015 &nbsp;
        a(href="http://chn-peli:9000") Yottapeng
        |  ·

        if viewHelper != null
          span  #{viewHelper.getResponseTime()}ms
       
